.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  @media all and (max-height: 900px) {
    padding: 16px;
  }
}

.header {
  margin-top: 24px;
  text-align: center;

  @media all and (max-width: 500px) {
    font-size: 28px;
  }
}
.text {
  max-width: 625px;
  text-align: center;
  margin-top: 12px;
  font-size: 24px;

  @media all and (max-width: 500px) {
    font-size: 18px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 4rem 0;

  @media all and (max-height: 800px) {
    padding: 2rem 2.5%;
  }
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.button {
  color: white;
  background: black;
  fill: white;
  padding: 16px 16px 14px;
  border-radius: 12px;
  margin-top: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.githubLogo {
  width: 22px;
  height: 22px;
  margin-left: 12px;
  margin-bottom: 1px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;

  @media all and (max-width: 500px) {
    width: 75vw !important;
    height: auto !important;
  }
}

.promo {
  position: absolute;
  bottom: 10px;
  color: #aaa;

  @media all and (max-width: 500px) {
    font-size: 12px;
  }
}